## Additional NSS Configuration
CONFIG_PACKAGE_kmod-qca-nss-drv-pppoe=y
CONFIG_PACKAGE_kmod-qca-nss-drv-ovpn-mgr=y
CONFIG_PACKAGR_kmod-qca-nss-drv-ovpn-link=y

## NSS drivers enforcement
CONFIG_NSS_DRV_L2TP_ENABLE=y
CONFIG_NSS_DRV_PPPOE_ENABLE=y
CONFIG_NSS_DRV_PPTP_ENABLE=y

## NSS SQM Traffic Shaping
CONFIG_PACKAGE_sqm-scripts-nss=y

## OpenVPN Protocol
CONFIG_PACKAGE_kmod-ovpn-dco-v2=y
CONFIG_PACKAGE_luci-app-openvpn=y
CONFIG_PACKAGE_openvpn-openssl=y

## PPPoE Protocol
CONFIG_PACKAGE_kmod-pppoe=y
CONFIG_PACKAGE_luci-proto-ppp=y
CONFIG_PACKAGE_ppp-mod-pppoe=y
CONFIG_PACKAGE_ppp=y

## Wireguard Protocol
CONFIG_PACKAGE_kmod-wireguard=y
CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_qrencode=y
CONFIG_PACKAGE_wireguard-tools=y

## xray support
CONFIG_PACKAGE_kmod-nft-tproxy=y
CONFIG_PACKAGE_v2ray-geoip=y
CONFIG_PACKAGE_xray-core=y

## IP Sets support for DNS and Firewall
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dnsmasq=n
CONFIG_PACKAGE_ipset=y
CONFIG_PACKAGE_libnetfilter-conntrack3=y
CONFIG_PACKAGE_libnettle8=y

## Port knocking support
CONFIG_PACKAGE_fwknopd=y
CONFIG_PACKAGE_luci-app-fwknopd=y

## Additional Packages and Utilities
CONFIG_PACKAGE_luci-app-pbr=y
CONFIG_PACKAGE_luci-app-sqm=y

## Translation / Internationalization
CONFIG_PACKAGE_luci-i18n-banip-ru=y
CONFIG_PACKAGE_luci-i18n-openvpn-ru=y
CONFIG_PACKAGE_speedtest-netperf=y
CONFIG_PACKAGE_umdns=y